<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebXR</title>
    <!-- 1. add a-frame javascript-->
    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
</head>
<body>
    <!-- 2. add an a-scene element inside the body element
    A scene is represented by the <a-scene> element. The scene is the global root object, and all entities are contained within the scene.
    -->
    <a-scene>
        <!-- 3. add a shape element inside the scene
        <a-sphere></a-sphere>, <a-cylinder></a-cylinder>, <a-plane></a-plane>, <a-dodecahedron></a-dodecahedron>, and some really funky ones like <a-torus></a-torus> or <a-torus-knot></a-torus-knot>
        -->
        <a-box position="0 0 0" color="blue" rotation="0 0 0" scale="0.1 0.1 0.1"></a-box>
        <a-dodecahedron position="2 1 -8" color = "yellow" scale="2 2 2"></a-dodecahedron>
        <a-sphere position="-2 1 -10" color="brown" scale = "3 3 3"></a-sphere>
    </a-scene>
    <!-- -->
    <!-- -->

</body>
</html>