<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebXR</title>
    <!-- 1. add a-frame javascript-->
    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
</head>
<body>
<!-- 2. Build a forest
-->
<a-scene>
    <!-- floor -->
    <a-plane color="#008000" position="0 0 0" rotation="-90 0 0" scale="30 30 30"></a-plane>
    <!-- wall -->
    <a-plane color="#643200" position="0 2.5 -15" scale="30 5 30"></a-plane>
    <a-plane color="#643200" position="15 2.5 0" rotation="0 -90 0" scale="30 5 30"></a-plane>
    <a-plane color="#643200" position="0 2.5 15" rotation="0 180 0" scale="30 5 30"></a-plane>
    <a-plane color="#643200" position="-15 2.5 0" rotation="0 90 0" scale="30 5 30"></a-plane>
    <!-- shapes -->
    <a-dodecahedron color="yellow" position="-8 2 -1"></a-dodecahedron>

    <a-sphere color="orange" position="10 2 0" scale=".6 .6 .6"></a-sphere>
    <a-sphere color="brown" position="10 1.5 -1" scale=".4 .4 .4"></a-sphere>
    <a-sphere color="brown" position="10 1.5 1" scale=".4 .4 .4"></a-sphere>
    <a-sphere color="brown" position="10 2.7 .8" scale=".4 .4 .4"></a-sphere>

    <a-box color="black" position="4 1 -8" scale="2 2 2"></a-box>
    <a-torus-knot color="#408080" position="4 4 -8"></a-torus-knot>

    <!-- tree -->
    <a-box color="#552b00" position="-10 1 -10" scale=".5 2 .5"></a-box>
    <a-cone color="green" position="-10 3.2 -10" scale="1 3 1"></a-cone>

    <!-- tree -->
    <a-box color="#552b00" position="-9 1 -12" scale=".5 2 .5"></a-box>
    <a-cone color="green" position="-9 3.2 -12" scale="1 3 1"></a-cone>

    <!-- tree -->
    <a-box color="#552b00" position="10 1 10" scale=".5 2 .5"></a-box>
    <a-cone color="green" position="10 3.2 10" scale="1 3 1"></a-cone>

    <!-- tree -->
    <a-box color="#552b00" position="9 1 12" scale=".5 2 .5"></a-box>
    <a-cone color="green" position="9 3.2 12" scale="1 3 1"></a-cone>

    <!-- shapes -->
    <a-box color="#80ffff" position="-8 3 10" rotation="0 -45 0" scale="6 2 2"></a-box>
    <a-box color="#592d00" position="-8 1 10" rotation="0 -45 0" scale="1 2 1"></a-box>

    <a-box color="black" position="0 1 10" scale="2 2 2"></a-box>
    <a-tetrahedron color="#FF926B" position="0 3.5 10" radius="5" rotation="-12 -180 65"
                   scale=".5 .5 .5"></a-tetrahedron>

    <!-- add 3d model -->
    <a-gltf-model id="sheep" position="1 0 -6" rotation="0 100 0" src="https://cdn.glitch.com/0fc2d138-1979-4b80-8bae-51eb67b7ccb9%2Fsheep.glb?1544159918188"></a-gltf-model>
    <a-gltf-model id="sheep" position="-16 0 -3" rotation="0 100 10" scale="0.2 0.2 0.2" src="/static/assets_xr/glbs/boy_face_front.glb"></a-gltf-model>
    <a-gltf-model id="sheep" position="-18 4 -4" rotation="0 100 30" scale="0.16 0.16 0.16" src="/static/assets_xr/glbs/bird_face_right.glb"></a-gltf-model>

</a-scene>
<!-- -->
<!-- -->

</body>
</html>
