<!DOCTYPE html>

<html>

<head>
    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
    <!-- add extra scripts for animation -->
    <script src="//cdn.rawgit.com/donmccurdy/aframe-extras/v5.0.0/dist/aframe-extras.min.js"></script>
    <script src="https://unpkg.com/aframe-animation-component@^5.1.2/dist/aframe-animation-component.min.js"></script>
</head>

<body>
<a-scene>
    <!-- manage assets -->
    <a-assets>
        <img id="socratesinvr" src="/static/assets_xr/img/cif-logo.png">
        <img id="cif-square" src="/static/assets_xr/img/cif_square.png">
    </a-assets>


    <!-- add sky -->
    <a-sky src="/static/assets_xr/img/sea.jpg"></a-sky>
    <!-- add floor -->
    <a-plane color="#008000" position="0 0 0" rotation="-90 0 0" scale="30 30 30"></a-plane>
    <!-- add front wall -->
    <a-plane color="#8dbff2" position="0 1.5 -15" scale="30 3 30" src="/static/assets_xr/img/cif-logo.png"></a-plane>
    <!-- add right wall -->
    <a-plane position="15 1.5 0" rotation="0 -90 0" scale="30 3 30"
             src="/static/assets_xr/img/store_empty.png"></a-plane>
    <!-- add back wall -->
    <a-plane position="0 1.5 15" rotation="0 180 0" scale="30 3 30" src="/static/assets_xr/img/school1.jpg"></a-plane>
    <!-- add left wall -->
    <a-plane position="-15 1.5 0" rotation="0 90 0" scale="30 3 30" src="/static/assets_xr/img/af2.png"></a-plane>

    <!-- add animation-->
    <a-sphere animation__swoop="property: position; dur: 3000; loop: false; to: 5.1 1.5 4.5;" color="purple"
              position="2 2 -20"
              radius=".5">
    </a-sphere>

    <a-sphere animation__swoop="property: position; dur: 5000; delay:1000; loop: false; to: -5.1 2 6;" color="red"
              position="4 2 -20"
              radius=".5">
    </a-sphere>

    <!-- add 3d model -->
    <a-gltf-model animation="property: position; dur: 2000; loop: true; dir:alternate; to: -16 0.2 -3;" id="boy"
                  position="-16 0 -3" rotation="0 100 10" scale="0.2 0.2 0.2"
                  shadow
                  src="/static/assets_xr/glbs/boy_face_front.glb"></a-gltf-model>
    <a-gltf-model animation="property: position; dur: 5000; loop: false; dir:alternate; to: -2 1.5 -4.5;"
                  animation-mixer id="bird" position="-18 4 -4" rotation="0 100 30"
                  scale="0.16 0.16 0.16"
                  shadow src="/static/assets_xr/glbs/bird_face_right.glb"></a-gltf-model>
    <!-- add text-->
    <a-text color="white" position="-2.3 3.3 -3" rotation="0 0 0" value="Welcome to Coding Is Fun!" width="4"></a-text>
    <a-text color="orange" position="-2.3 3.0 -3" rotation="0 0 0" value="Learning Today, Leading Tomorrow."
            width="4"></a-text>
    <a-text color="white" position="1 1.5 -2.29" rotation="0 0 0" value="What's On?" width="2"></a-text>
    <a-box color="black" height="1.5" position="2 1 -6" rotation="0 -10 0" src="#socratesinvr" width="4"></a-box>

    <a-dodecahedron color="yellow" position="-8 2 -1"></a-dodecahedron>

    <a-sphere color="orange" position="10 2 0" scale=".6 .6 .6"></a-sphere>
    <a-sphere color="brown" position="10 1.5 -1" scale=".4 .4 .4"></a-sphere>
    <a-sphere color="brown" position="10 1.5 1" scale=".4 .4 .4"></a-sphere>
    <a-sphere color="brown" position="10 2.7 .8" scale=".4 .4 .4"></a-sphere>

    <a-box color="black" position="4 1 -8" scale="2 2 2"></a-box>
    <a-torus-knot animation__spin="property: rotation; dur: 12000; loop: true; easing: easeOutElastic; to: 0 1490 0; elasticity:200; delay:2000;"
                  color="#408080"
                  position="4 4 -8"
    ></a-torus-knot>

    <a-box color="#552b00" position="-10 1 -10" scale=".5 2 .5"></a-box>
    <a-cone color="green" position="-10 3.2 -10" scale="1 3 1"></a-cone>

    <a-box color="#552b00" position="-9 1 -12" scale=".5 2 .5"></a-box>
    <a-cone color="green" position="-9 3.2 -12" scale="1 3 1"></a-cone>

    <a-box color="#552b00" position="10 1 10" scale=".5 2 .5"></a-box>
    <a-cone color="green" position="10 3.2 10" scale="1 3 1"></a-cone>

    <a-box color="#552b00" position="9 1 12" scale=".5 2 .5"></a-box>
    <a-cone color="green" position="9 3.2 12" scale="1 3 1"></a-cone>

    <a-box color="#80ffff" position="-8 3 10" rotation="0 -45 0" scale="6 2 2"></a-box>
    <a-box color="#592d00" position="-8 1 10" rotation="0 -45 0" scale="1 2 1"></a-box>

    <a-box color="black" position="0 1 10" scale="2 2 2"></a-box>
    <a-tetrahedron animation__color="property: color; type: color; dir: alternate; dur: 1000;loop: true; to: #faaf52" animation__spin="property: rotation; dur: 12000; loop: true; easing: easeOutElastic; to: 0 1490 0; elasticity:200" animation_hover="property: position; dur: 2000; loop: true; dir:alternate; to: -5.1 1.5 -4.5;" color="#FF926B"
                   position="0 3.5 10"
                   radius="5"
                   rotation="-12 -180 65"
                   scale=".5 .5 .5"></a-tetrahedron>

</a-scene>
</body>

</html>